<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ_UxsLjph8MVO67SS0Ps2-3DlKACY5AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>878306220779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentDetails.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>student-details-66deb</string>
	<key>STORAGE_BUCKET</key>
	<string>student-details-66deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878306220779:ios:c7ec50d752c9e279eb3cae</string>
</dict>
</plist>